<%- include("header"); -%>
    <div class = "box"  id = "heading">
        <h1><%=kindOfday%>'s ToDo List</h1>
    </div>

    <div class = "box">
        <%for(var i =0; i<newListItems.length;i++){%>
            <div class = "item">
                <input type="checkbox">
                <p><%=newListItems[i]%></p>
            </div>
          <%}%>
        <form class="item" action="/" method="post">
            <input type="text" name="newItem" placeholder="Enter your new task" autocomplete="off"/>
            <button type="submit" name="button">＋</button>
        </form>      
    </div>

<%- include("footer"); -%>
